div {
   font-family: 'Arial';
   background-color: #11ab1c;
   margin: 30px 30px;
   padding: 5px 40px;
   text-align: center;
   font-weight: bolder;
   width: 80px;
   display: block;
   vertical-align: middle;
}

.giro {
   -webkit-animation: 1s giro 5;
   -webkit-backface-visibility: visible;
}

@-webkit-keyframes giro {

   40% {
      -webkit-transform:   perspective(350px)
                           translateZ(120px)
                           rotateY(170deg);
   }
   50% {
      -webkit-transform:   perspective(350px)
                           translateZ(120px)
                           rotateY(190deg);
   }
   80% {
      -webkit-transform:   perspective(350px)
                           translateZ(0px)
                           rotateY(360deg);
   }
   100% {
      -webkit-transform:   perspective(100px)
                           rotateY(360deg);
   }
}

.giro1 {
   -webkit-animation: 1s giro1 5;
   -webkit-backface-visibility: hidden;
}

@-webkit-keyframes giro1 {

   40% {
      -webkit-transform:   perspective(350px)
                           rotateY(170deg) translateZ(120px);
   }
   50% {
      -webkit-transform:   perspective(350px)
                           rotateY(190deg)
                           translateZ(120px);
   }
   80% {
      -webkit-transform:   perspective(350px)
                           rotateY(360deg)
                           translateZ(0px);
   }
   100% {
      -webkit-transform:   perspective(100px)
                           rotateY(360deg);
   }
}
